.App {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: cadetblue;
}

input {
  font: 30px Arial, Helvetica, sans-serif;
  padding: 10px;
}

.input {
  min-height: 10vh;
  min-width: 10vw;
  background-color: #fefff0;
  border-radius: 16px;
  border: 5px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description {
  text-align: center;
  font-size: 40px;
  margin-bottom: 2vh;
}

.text {
  font-size: 30px;
  font-weight: bold;
}
